@use "../utils" as forward;

.badge {
  @include forward.badge-base();

  color: forward.$badge-cl;
}

.badge-completed {
  background-color: forward.$completed;
}

.badge-ended {
  background-color: forward.$ended;
}

.badge-active {
  background-color: forward.$active;
}
